body{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: rgb(26, 255, 0);
}
header{
    background-color: rgb(9, 175, 7);
}
nav{
    background-color: rgb(9, 175, 7);
}
main{
    background-color: rgb(9, 175, 7);
    font-size: 40px;
}
footer{
    background-color: rgb(9, 175, 7);
}
li{
    display: inline;
    font-size: 30px;
    width: 10px;
}
h1{
    text-align: center;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aqua;
}
p{
    line-height: 103%;
}